---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Mauritania","official":"Islamic Republic of Mauritania","nativeName":{"ara":{"official":"الجمهورية
        الإسلامية الموريتانية","common":"موريتانيا"}}},"tld":[".mr"],"cca2":"MR","ccn3":"478","cca3":"MRT","cioc":"MTN","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"MRU":{"name":"Mauritanian
        ouguiya","symbol":"UM"}},"idd":{"root":"+2","suffixes":["22"]},"capital":["Nouakchott"],"altSpellings":["MR","Islamic
        Republic of Mauritania","al-Jumhūriyyah al-ʾIslāmiyyah al-Mūrītāniyyah"],"region":"Africa","subregion":"Western
        Africa","languages":{"ara":"Arabic"},"translations":{"ara":{"official":"الجمهورية
        الإسلامية الموريتانية","common":"موريتانيا"},"bre":{"official":"Republik islamek
        Maouritania","common":"Maouritania"},"ces":{"official":"Mauritánská islámská
        republika","common":"Mauritánie"},"cym":{"official":"Islamic Republic of Mauritania","common":"Mauritania"},"deu":{"official":"Islamische
        Republik Mauretanien","common":"Mauretanien"},"est":{"official":"Mauritaania
        Islamivabariik","common":"Mauritaania"},"fin":{"official":"Mauritanian islamilainen
        tasavalta","common":"Mauritania"},"fra":{"official":"République islamique
        de Mauritanie","common":"Mauritanie"},"hrv":{"official":"Islamska Republika
        Mauritanija","common":"Mauritanija"},"hun":{"official":"Mauritániai Iszlám
        Köztársaság","common":"Mauritánia"},"ita":{"official":"Repubblica islamica
        di Mauritania","common":"Mauritania"},"jpn":{"official":"モーリタニア·イスラム共和国","common":"モーリタニア"},"kor":{"official":"모리타니
        이슬람 공화국","common":"모리타니"},"nld":{"official":"Islamitische Republiek Mauritanië","common":"Mauritanië"},"per":{"official":"جمهوری
        اسلامی موریتانی","common":"موریتانی"},"pol":{"official":"Islamska Republika
        Mauretańska","common":"Mauretania"},"por":{"official":"República Islâmica
        da Mauritânia","common":"Mauritânia"},"rus":{"official":"Исламская Республика
        Мавритания","common":"Мавритания"},"slk":{"official":"Mauritánska islamská
        republika","common":"Mauritánia"},"spa":{"official":"República Islámica de
        Mauritania","common":"Mauritania"},"swe":{"official":"Islamiska republiken
        Mauretanien","common":"Mauretanien"},"tur":{"official":"Moritanya İslam Cumhuriyeti","common":"Moritanya"},"urd":{"official":"اسلامی
        جمہوریہ موریتانیہ","common":"موریتانیہ"},"zho":{"official":"毛里塔尼亚伊斯兰共和国","common":"毛里塔尼亚"}},"latlng":[20.0,-12.0],"landlocked":false,"borders":["DZA","MLI","SEN","ESH"],"area":1030700.0,"demonyms":{"eng":{"f":"Mauritanian","m":"Mauritanian"},"fra":{"f":"Mauritanienne","m":"Mauritanien"}},"flag":"\uD83C\uDDF2\uD83C\uDDF7","maps":{"googleMaps":"https://goo.gl/maps/im2MmQ5jFjzxWBks5","openStreetMaps":"https://www.openstreetmap.org/relation/192763"},"population":4649660,"gini":{"2014":32.6},"fifa":"MTN","car":{"signs":["RIM"],"side":"right"},"timezones":["UTC"],"continents":["Africa"],"flags":{"png":"https://flagcdn.com/w320/mr.png","svg":"https://flagcdn.com/mr.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/mr.png","svg":"https://mainfacts.com/media/images/coats_of_arms/mr.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[18.07,-15.97]}},{"name":{"common":"Aruba","official":"Aruba","nativeName":{"nld":{"official":"Aruba","common":"Aruba"},"pap":{"official":"Aruba","common":"Aruba"}}},"tld":[".aw"],"cca2":"AW","ccn3":"533","cca3":"ABW","cioc":"ARU","independent":false,"status":"officially-assigned","unMember":false,"currencies":{"AWG":{"name":"Aruban
        florin","symbol":"ƒ"}},"idd":{"root":"+2","suffixes":["97"]},"capital":["Oranjestad"],"altSpellings":["AW"],"region":"Americas","subregion":"Caribbean","languages":{"nld":"Dutch","pap":"Papiamento"},"translations":{"ara":{"official":"أروبا","common":"أروبا"},"bre":{"official":"Aruba","common":"Aruba"},"ces":{"official":"Aruba","common":"Aruba"},"cym":{"official":"Aruba","common":"Aruba"},"deu":{"official":"Aruba","common":"Aruba"},"est":{"official":"Aruba","common":"Aruba[...]
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=Saint%20Lucia&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":5,"count":5,"_links":{},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_75a3969401315bc7640eb6362d610269","label":"Swedish
        Lucia Breads","image":"https://edamam-product-images.s3.amazonaws.com/web-img/1f7/1f7a97a5e90fc4122f1c407db8d3a9f3.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEMv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJIMEYCIQDIUc%2FXUfrq39Uab4wpB7Q6UrmjZas%2FL6UafJdJHx48NwIhAIp01I4nP8f%2Bbt48aOVMvMIfyqaIWdQW7R5GMf1m0ftrKtUECMP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQABoMMTg3MDE3MTUwOTg2IgxWAXGd7rhbCEybx4YqqQTtes4n4lidz6QFjZxs2dx3Y0HfU%2FJKAHcZeJjs5BcpLiaryMa4OIRzU2mf09kyiWRg5Y8pPUgiGI36lFWQWWmuWBnNILRaeuPXjH6AmdUBWezmqxj5EP0lo7tBOKrZ2T[...]
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<app_id>&app_key=<app_key>&q=Sweden&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":20,"count":70,"_links":{"next":{"href":"https://api.edamam.com/api/recipes/v2?q=Sweden&app_key=<app_key>&_cont=CHcWQT1OcV9xBB8VADQWVhFCPwoxXVZEITQeVDcBaR4-SQ%3D%3D&type=public&app_id=<app_id>","title":"Next
        page"}},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_38305dfb9004360c8adf7d3f27c3f0ea","label":"Herbed
        New Potato Salad Recipe","image":"https://edamam-product-images.s3.amazonaws.com/web-img/946/94661ea7c8ff1a017f53fac5bdc8c1f8.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEMv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCICe0HCdFpginTtVejpvKW%2FybX%2FttIS2dKdfiSL06qJq9AiEA1CwvzNwDBT6SpAcNd8hWQ%2FPDAsFZFat39yjKqT95n7cq1QQIxP%2F%2F%2F%2F%2F%[...]
