---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<api_key>&categories=tourism.sights&filter=circle:24.1,56.95,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Dauderi","housenumber":"7","street":"Zāģeru
        iela","suburb":"Sarkandaugava","city":"Riga","state":"Vidzeme","postcode":"LV-1005","country":"Latvia","country_code":"lv","lon":24.12400891885733,"lat":57.00392525,"formatted":"Dauderi,
        Zāģeru iela 7, Riga, LV-1005, Latvia","address_line1":"Dauderi","address_line2":"Zāģeru
        iela 7, Riga, LV-1005, Latvia","categories":["building","building.historic","building.tourism","entertainment","entertainment.museum","tourism","tourism.sights"],"details":["details","details.building","details.contact","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Dauderi","email":"dauderi@history-museum.lv","phone":"+371-67391780","osm_id":120879122,"name:ru":"Латвийский
        музей культуры «Даудери»","tourism":"museum","website":"http://www.history-museum.lv","building":"yes","historic":"manor","osm_type":"w","wikidata":"Q4254892","addr:city":"Rīga","wikipedia":"ru:Латвийский
        музей культуры «Даудери»","addr:street":"Zāģeru iela","addr:country":"LV","opening_hours":"Mo-Su
        11:00-17:00; Tu off","building:levels":3,"addr:housenumber":7}},"place_id":"51f4ef5ecebf1f3840590677eb3181804c40f00102f901127834070000000092030744617564657269"},"geometry":{"type":"Point","coordinates":[24.124020479372078,57.00394271848022]}},{"type":"Feature","properties":{"name":"Rāmavas
        Depkina muiža","housenumber":"9","street":"Rāmavas iela","suburb":"Rāmavas
        muiža","district":"Rāmava","city":"Ķekavas pagasts","county":"Ķekavas novads","state":"Vidzeme","postcode":"LV-2111","country":"Latvia","country_code":"lv","lon":24.157944969488497,"lat":56.889029449999995,"formatted":"Rāmavas
        Depkina muiža, Rāmavas iela 9, Ķekavas pagasts, LV-2111, Latvia","address_line1":"Rāmavas
        Depkina muiža","address_line2":"Rāmavas iela 9, Ķekavas pagasts, LV-2111,
        Latvia","categories":["accommodation","accommodation.hotel","building","building.accommodation","building.historic","building.residential","touris[...]
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<api_key>&categories=tourism.sights&filter=circle:25.0,57.0,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"street":"Loka
        ceļš","city":"Allažu pagasts","county":"Siguldas novads","state":"Vidzeme","country":"Latvia","country_code":"lv","lon":24.740515142398415,"lat":57.0036019931534,"formatted":"Loka
        ceļš, Allažu pagasts, Latvia","address_line1":"Loka ceļš","address_line2":"Allažu
        pagasts, Latvia","mappedTo":{"lon":24.740515142398415,"lat":57.0036019931534},"name":"Inčukalna
        Allažu meža dzelzceļš","categories":["tourism","tourism.sights"],"details":["details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Inčukalna
        Allažu meža dzelzceļš","gauge":600,"route":"historic","osm_id":-13103508,"historic":"railway","osm_type":"r","wikidata":"Q108037515","wikipedia":"lv:Dzelzceļa
        līnija Inčukalns—Allaži"}},"place_id":"51ffbc95cbaebd3840596b9d1d49f1804c40f00101f90194f1c70000000000920324496ec48d756b616c6e6120416c6c61c5be75206d65c5be6120647a656c7a6365c4bcc5a1"},"geometry":{"type":"Point","coordinates":[24.74094841390342,57.00736345239678]}},{"type":"Feature","properties":{"name":"Suntažu
        muižas pils","street":"Inciems — Sigulda — Ķegums","suburb":"Dārziņi","village":"Suntaži","city":"Suntažu
        pagasts","county":"Ogres novads","state":"Zemgale","postcode":"LV-5060","country":"Latvia","country_code":"lv","lon":24.925342852238714,"lat":56.9072853,"formatted":"Suntaži
        Manor, Inciems — Sigulda — Ķegums, Suntažu pagasts, LV-5060, Latvia","address_line1":"Suntaži
        Manor","address_line2":"Inciems — Sigulda — Ķegums, Suntažu pagasts, LV-5060,
        Latvia","categories":["building","building.historic","tourism","tourism.sights"],"details":["det[...]
