---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Britain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"United Kingdom","official":"United Kingdom of Great
        Britain and Northern Ireland","nativeName":{"eng":{"official":"United Kingdom
        of Great Britain and Northern Ireland","common":"United Kingdom"}}},"tld":[".uk"],"cca2":"GB","ccn3":"826","cca3":"GBR","cioc":"GBR","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"GBP":{"name":"British
        pound","symbol":"£"}},"idd":{"root":"+4","suffixes":["4"]},"capital":["London"],"altSpellings":["GB","UK","Great
        Britain"],"region":"Europe","subregion":"Northern Europe","languages":{"eng":"English"},"translations":{"ara":{"official":"المملكة
        المتحدة لبريطانيا العظمى وايرلندا الشمالية","common":"المملكة المتحدة"},"bre":{"official":"Rouantelezh-Unanet
        Breizh-Veur ha Norzhiwerzhon","common":"Rouantelezh-Unanet"},"ces":{"official":"Spojené
        království Velké Británie a Severního Irska","common":"Spojené království"},"cym":{"official":"United
        Kingdom of Great Britain and Northern Ireland","common":"United Kingdom"},"deu":{"official":"Vereinigtes
        Königreich Großbritannien und Nordirland","common":"Vereinigtes Königreich"},"est":{"official":"Suurbritannia
        ja Põhja-Iiri Ühendkuningriik","common":"Suurbritannia"},"fin":{"official":"Ison-Britannian
        ja Pohjois-Irlannin yhdistynyt kuningaskunta","common":"Yhdistynyt kuningaskunta"},"fra":{"official":"Royaume-Uni
        de Grande-Bretagne et d''Irlande du Nord","common":"Royaume-Uni"},"hrv":{"official":"Ujedinjeno
        Kraljevstvo Velike Britanije i Sjeverne Irske","common":"Ujedinjeno Kraljevstvo"},"hun":{"official":"Nagy-Britannia
        és Észak-Írország Egyesült Királysága","common":"Egyesült Királyság"},"ita":{"official":"Regno
        Unito di Gran Bretagna e Irlanda del Nord","common":"Regno Unito"},"jpn":{"official":"グレート·ブリテンおよび北アイルランド連合王国","common":"イギリス"},"kor":{"official":"그레이트브리튼
        북아일랜드 연합 왕국","common":"영국"},"nld":{"official":"Verenigd Koninkrijk van Groot-Brittannië
        en Noord-Ierland","common":"Verenigd Koninkrijk"},"per":{"official":"پادشاهی
        متحد بریتانیای کبیر و ایرلند شمالی","common":"انگلیس"},"pol":{"official":"Zjednoczone
        Królestwo Wielkiej Brytanii i Irlandii Północnej","common":"Zjednoczone Królestwo"},"por":{"official":"Reino
        Unido da Grã-Bretanha e Irlanda do Norte","common":"Reino Unido"},"rus":{"official":"Соединенное
        Королевство Великобритании и Северной Ирландии","common":"Великобритания"},"slk":{"official":"Spojené
        kráľovstvo Veľkej Británie a SevernéhoÌrska","common":"Veľká Británia (Spojené
        kráľovstvo)"},"spa":{"official":"Reino Unido de Gran Bretaña e Irlanda del
        Norte","common":"Reino Unido"},"swe":{"official":"Förenade konungariket Storbritannien
        och Nordirland","common":"Storbritannien"},"tur":{"official":"Büyük Britanya
        ve Kuzey İrlanda Birleşik Krallığı","common":"Birleşik Krallık"},"urd":{"official":"مملکتِ
        متحدہ برطانیہ عظمی و شمالی آئرلینڈ","common":"مملکتِ متحدہ"},"zho":{"official":"大不列颠及北爱尔兰联合王国","common":"英国"}},"latlng":[54.0,-2.0],"landlocked":false,"borders":["IRL"],"area":242900.0,"demonyms":{"eng":{"f":"British","m":"British"},"fra":{"f":"Britannique","m":"Britannique"}},"flag":"\uD83C\uDDEC\uD83C\uDDE7","maps":{"googleMaps":"https://goo.gl/maps/FoDtc3UKMkFsXAjHA","openStreetMaps":"https://www.openstreetmap.org/relation/62149"},"population":67215293,"gini":{"2017":35.1},"car":{"signs":["GB"],"side":"left"},"timezones":["UTC-08:00","UTC-05:00","UTC-04:00","UTC-03:00","UTC-02:00","UTC","UTC+01:00","UTC+02:00","UTC+06:00"],"continents":["Europe"],"flags":{"png":"https://flagcdn.com/w320/gb.png","svg":"https://flagcdn.com/gb.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/gb.png","svg":"https://mainfacts.com/media/images/coats_of_arms/gb.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[51.5,-0.08]},"postalCode":{"format":"@#
        #@@|@## #@@|@@# #@@|@@## #@@|@#@ #@@|@@#@ #@@|GIR0AA","regex":"^(([A-Z]\\d{2}[A-Z]{2})|([A-Z]\\d{3}[A-Z]{2})|([A-Z]{2}\\d{2}[A-Z]{2})|([A-Z]{2}\\d{3}[A-Z]{2})|([A-Z]\\d[A-Z]\\d[A-Z]{2})|([A-Z]{2}\\d[A-Z]\\d[A-Z]{2})|(GIR0AA))$"}}]'
  recorded_at: Mon, 14 Nov 2022 21:58:28 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<api_key>&categories=tourism.sights&filter=circle:-0.08,51.5,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Brockwell
        Lido","street":"Dulwich Road","suburb":"Herne Hill","city":"London","county":"Greater
        London","state":"England","postcode":"SE24 0PA","country":"United Kingdom","country_code":"gb","lon":-0.1064700995055533,"lat":51.4530367,"formatted":"Brockwell
        Lido, Dulwich Road, London SE24 0PA, United Kingdom","address_line1":"Brockwell
        Lido","address_line2":"Dulwich Road, London SE24 0PA, United Kingdom","categories":["heritage","sport","sport.sports_centre","tourism","tourism.sights"],"details":["details","details.contact","details.facilities","details.heritage","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Brockwell
        Lido","owner":"London Borough of Lambeth","sport":"swimming;fitness","osm_id":317411459,"leisure":"sports_centre","toilets":"yes","website":"https://www.fusion-lifestyle.com/centres/Brockwell_Lido","heritage":2,"historic":"building","operator":"Fusion
        Lifestyle","osm_type":"w","wikidata":"Q4972912","addr:city":"London","wikipedia":"en:Brockwell
        Lido","start_date":1937,"addr:street":"Dulwich Road","addr:suburb":"Herne
        Hill","description":"Brockwell Lido has an open air swimming pool, gym facilities,
        health suite including physiotherapy treatment rooms and the Lido Cafe","ref:GB:nhle":1390519,"addr:postcode":"SE24
        0PA","contact:phone":"+44 20 7274 3088","listed_status":"Grade II","opening_hours":"Mo-Th
        06:30-20:00;Fr 06:30-19:00;Sa-Su 07:00-18:00;PH 06:30-19:00","toilets:access":"customers","contact:twitter":"@brockwell_lido","contact:facebook":"https://en-gb.facebook.com/brockwelllidouk/","heritage:website":"https://historicengland.org.uk/listing/the-list/list-entry/1390519","toilets:disposal":"flush","heritage:operator":"Historic
        England","he:inscription_date":"2003-07-16"}},"place_id":"51153512c52d40bbbf597e108999fdb94940f00102f9018350eb120000000092030e42726f636b77656c6c204c69646f"},"geometry":{"type":"Point","coordinates":[-0.10644804059321118,51.45305175011252]}},{"type":"Feature","properties":{"name":"Marble
        Hill House","street":"Richmond Road","suburb":"St Margarets","town":"Richmond","city":"London
        Borough of Richmond upon Thames","county":"Greater London","state":"England","postcode":"TW1
        2NL","country":"United Kingdom","country_code":"gb","lon":-0.31331756275198563,"lat":51.449477,"formatted":"Marble
        Hill House, Richmond Road, London TW1 2NL, United Kingdom","address_line1":"Marble
        Hill House","address_line2":"Richmond Road, London TW1 2NL, United Kingdom","categories":["building","building.historic","building.tourism","entertainment","entertainment.museum","heritage","tourism","tourism.sights"],"details":["details","details.building","details.heritage","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Marble
        Hill House","image":"File:London - April 2009 (3496487723).jpg","HE_ref":1285673,"osm_id":24011012,"tourism":"museum","website":"https://www.english-heritage.org.uk/visit/places/marble-hill-house/","building":"yes","heritage":2,"historic":"building","operator":"English
        Heritage","osm_type":"w","wikidata":"Q1892426","addr:city":"Twickenham","wikipedia":"en:Marble
        Hill House","start_date":"C18","addr:street":"Richmond Road","addr:postcode":"TW1
        2NL","listed_status":"Grade I","opening_hours":"Mar 30-Nov 3","heritage:operator":2,"wikimedia_commons":"Category:Marble
        Hill House"}},"place_id":"511b074c32650dd4bf59c677127688b94940f00102f90104616e01000000009203114d6172626c652048696c6c20486f757365"},"geometry":{"type":"Point","coordinates":[-0.31331758415045535,51.44947696592094]}},{"type":"Feature","properties":{"name":"Buckingham
        Palace","street":"Buckingham Gate","suburb":"Victoria","city":"London","county":"Greater
        London","state":"England","postcode":"SW1A 1AA","country":"United Kingdom","country_code":"gb","lon":-0.14298629208606997,"lat":51.500841300000005,"formatted":"Buckingham
        Palace, Buckingham Gate, London SW1A 1AA, United Kingdom","address_line1":"Buckingham
        Palace","address_line2":"Buckingham Gate, London SW1A 1AA, United Kingdom","categories":["access_limited","access_limited.with_permit","building","building.historic","building.tourism","tourism","tourism.attraction","tourism.sights","tourism.sights.castle"],"details":["details","details.building","details.contact","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Buckingham
        Palace","phone":"+44 20 7766 7300","access":"permit","height":23.4,"osm_id":-5208404,"name:af":"Buckingham-paleis","name:ar":"قصر
        بكنغهام","name:az":"Bukinqem sarayı","name:be":"Бакінгемскі палац","name:bg":"Бъкингамски
        дворец","name:bn":"বাকিংহাম প্রাসাদ","name:br":"Palez Buckingham","name:bs":"Bakingemska
        palača","name:ca":"Palau de Buckingham","name:cs":"Buckinghamský palác","name:cy":"Palas
        Buckingham","name:da":"Buckingham Palace","name:de":"Buckingham-Palast","name:el":"Ανάκτορα
        του Μπάκινγκχαμ","name:en":"Buck[...]
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<api_key>&categories=tourism.sights&filter=circle:-2.0,54.0,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Manor
        House Art Gallery and Museum","old_name":"The Castle","street":"Castle Yard","town":"Ilkley","city":"Bradford","county":"West
        Yorkshire","state":"England","postcode":"LS29 9DT","country":"United Kingdom","country_code":"gb","lon":-1.824759147940865,"lat":53.9268167,"formatted":"Manor
        House Art Gallery and Museum, Castle Yard, Bradford LS29 9DT, United Kingdom","address_line1":"Manor
        House Art Gallery and Museum","address_line2":"Castle Yard, Bradford LS29
        9DT, United Kingdom","categories":["building","building.historic","building.tourism","entertainment","entertainment.museum","no_fee","no_fee.no","tourism","tourism.sights"],"details":["details","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"fee":"no","name":"Manor
        House Art Gallery and Museum","osm_id":4041434,"tourism":"museum","website":"https://www.bradfordmuseums.org/venues/manorhouse","building":"yes","historic":"house","old_name":"The
        Castle","operator":"Bradford Museums and Galleries","osm_type":"w","wikidata":"Q6751349","addr:city":"Ilkley","wikipedia":"en:Manor
        House Museum","addr:street":"Castle Yard","description":"17th century manor
        house on on 14th century site and Roman fort  Now a Local heritage and art
        museum located in Ilkley''s old Manor House.","addr:postcode":"LS29 9DT"}},"place_id":"51ca3c2af12932fdbf5928436322a2f64a40f00102f901daaa3d00000000009203224d616e6f7220486f757365204172742047616c6c65727920616e64204d757365756d"},"geometry":{"type":"Point","coordinates":[-1.8247470303065705,53.92682294699472]}},{"type":"Feature","properties":{"name":"Cavendish
        Memorial Fountain","street":"B6160","suburb":"Bolton Abbey","village":"Bolton
        Abbey","city":"Craven District","county":"North Yorkshire","state":"England","postcode":"BD23
        6AL","country":"United Kingdom","country_code":"gb","lon":-1.8870981,"lat":53.9863144,"formatted":"Cavendish
        Memorial Fountain, B6160, Craven District BD23 6AL, United Kingdom","address_line1":"Cavendish
        Memorial Fountain","address_line2":"B6160, Craven District BD23 6AL, United
        Kingdom","categories":["tourism","tourism.sights","tourism.sights.memorial","tourism.sights.memorial.monument"],"details":["details","details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Cavendish
        Memorial Fountain","osm_id":32823038,"website":"https://www.britishlistedbuildings.co.uk/en-323726-cavendish-memorial-bolton-abbey-north-yo","historic":"monument","osm_type":"n","wikidata":"Q20712039","wikipedia":"en:Cavendish
        memorial fountain","description":"Memorial to Lord Frederick Charles Cavendish
        (1836 – 1882), English Liberal politician, murdered in Dublin.","inscription":"This
        fountain was erectedby electors of the West Riding as a tribute to his memory,
        Frederick CharlesCavendish Born November XXX. MDCCCXXXVI. Died May VI. MDCCCLXXXII"}},"place_id":"51f27ffdc68d31febf592a08dc8c3ffe4a40f00103f901fed6f4010000000092031b436176656e64697368204d656d6f7269616c20466f756e7461696e"},"geometry":{"type":"Point","coordinates":[-1.8870980999999998,53.986314399182746]}},{"type":"Feature","properties":{"name":"Bolton
        Priory","street":"B6160","suburb":"Bo[...]
