---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=ba77f4ee5a124bfa9537cba16a7b0266&categories=tourism.sights&filter=circle:24.1,56.95,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Dauderi","housenumber":"7","street":"Zāģeru
        iela","suburb":"Sarkandaugava","city":"Riga","state":"Vidzeme","postcode":"LV-1005","country":"Latvia","country_code":"lv","lon":24.12400891885733,"lat":57.00392525,"formatted":"Dauderi,
        Zāģeru iela 7, Riga, LV-1005, Latvia","address_line1":"Dauderi","address_line2":"Zāģeru
        iela 7, Riga, LV-1005, Latvia","categories":["building","building.historic","building.tourism","entertainment","entertainment.museum","tourism","tourism.sights"],"details":["details","details.building","details.contact","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Dauderi","email":"dauderi@history-museum.lv","phone":"+371-67391780","osm_id":120879122,"name:ru":"Латвийский
        музей культуры «Даудери»","tourism":"museum","website":"http://www.history-museum.lv","building":"yes","historic":"manor","osm_type":"w","wikidata":"Q4254892","addr:city":"Rīga","wikipedia":"ru:Латвийский
        музей культуры «Даудери»","addr:street":"Zāģeru iela","addr:country":"LV","opening_hours":"Mo-Su
        11:00-17:00; Tu off","building:levels":3,"addr:housenumber":7}},"place_id":"51f4ef5ecebf1f3840590677eb3181804c40f00102f901127834070000000092030744617564657269"},"geometry":{"type":"Point","coordinates":[24.124020479372078,57.00394271848022]}},{"type":"Feature","properties":{"name":"Rāmavas
        Depkina muiža","housenumber":"9","street":"Rāmavas iela","suburb":"Rāmavas
        muiža","district":"Rāmava","city":"Ķekavas pagasts","county":"Ķekavas novads","state":"Vidzeme","postcode":"LV-2111","country":"Latvia","country_code":"lv","lon":24.157944969488497,"lat":56.889029449999995,"formatted":"Rāmavas
        Depkina muiža, Rāmavas iela 9, Ķekavas pagasts, LV-2111, Latvia","address_line1":"Rāmavas
        Depkina muiža","address_line2":"Rāmavas iela 9, Ķekavas pagasts, LV-2111,
        Latvia","categories":["accommodation","accommodation.hotel","building","building.accommodation","building.historic","building.residential","touris[...]
